@using Pierre.Models;
@{
  Layout = "_Layout";
}

<h3>Here are all the Orders for @Model["vendor"].Name:</h3>


@foreach (Order order in @Model["orders"])
{
<div class="card" style="width: 18rem;">
  <div class="card-header">
    <h5 class="card-title">@order.Title</h5>
    </div>
    <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">@order.Date</h6>
    <p class="card-text">@order.Description</p>
    <p class="card-text">total is $@order.Price</p>
  </div>
</div>
}


<p><a href='/vendors/@Model["vendor"].Id/orders/new'class="btn btn-primary">Add a new order by this vendor</a></p>
<p><a href='/vendors'class="btn btn-primary">Return to vendor list</a></p>
<p><a href='/'class="btn btn-primary">Return to Main Page</a></p>